<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, 
Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>AddUpdateTables</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUpdateTables</servlet-name>
		<url-pattern>/AddUpdateTables</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
    
	<resource-ref>	
		<res-ref-name>S0014062182</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth></res-auth>
		<res-sharing-scope></res-sharing-scope>
	</resource-ref>
	
	<!-- Secure application -->
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/AddUpdateTables</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Everyone</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
        <auth-method>BASICCERT</auth-method>
    </login-config>

    <security-role>
        <description>All SAP HANA Cloud Platform users</description>
        <role-name>Everyone</role-name>
    </security-role> -->
</web-app>